.img{
	display: inline-block;
	position: relative;
}
.son{
	background: #ccc7cc;
	position: absolute;
	
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.5;
	
	color: black;
	font-size: 25px;
	
}
.img:hover .son{
	display: none;
}

.block{
	margin: 20px;
	display: inline-block;
	background: #ccc;
}
.block1{
	background: red;
	width: 65px;
	color: aliceblue;
	position: relative;
	bottom: 223px;
	left: 175px;
	transform: rotate(25deg);
}
.block2{
	background: red;
	width: 65px;
	color: aliceblue;
	position: relative;
	bottom: 57px;
	left: 735px;
	transform: rotate(25deg);
}
.block3{
	background: red;
	width: 65px;
	color: aliceblue;
	position: relative;
	bottom: 260px;
	left: 500px;
	transform: rotate(-25deg);
}
.block4{
	background: red;
	width: 65px;
	color: aliceblue;
	position: relative;
	bottom: 97px;
	left: 409px;
	transform: rotate(-25deg);
}