.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.flex-element-1{
	flex-basis: 100%;
}

.flex-element-2{
	flex-grow: 1;
}
.flex-element-3{
	flex-grow: 2;
}

.flex-element-4{
	flex-grow: 1;
}

.flex-element-5{
	flex-basis: 100%;
}
/*2 сетка*/

.flex-container1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.flex-element-11{
	flex-basis: 100%;
}
.flex-element-12{
	flex-grow: 1;
}
.flex-element-13{
	flex-grow: 2;
}
.flex-element-14{
	flex-basis: 100%;
}
/*3 сетка*/
/*1 блок*/

.container1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
}
.element1{
	width: 25%;
	}
.element2{
	width: 50%;
}
.element3{
	width: 25%;
}
h2{
	text-align: center;
}
.right{
	text-align: right;
}

/*2 блок*/
.element4{
	display: flex;
	flex-direction: column;
}
.element4{
	width: 25%;
}
.element5{
	width: 75%;
}
.link{
	display: flex;
	flex-direction: column;
	border: 1px solid white;
}
/*3 блок*/

.element6,.element7,.element8{
	width: 33.3333%;
}

@media(max-width:920px){
	.container1{
		flex-direction: column;
	}
	.element,.right{
		width: auto;
		
	}
	.element2{
		order: -1;
	}
	.element4{
		flex-direction: row;
		order: 1;
		
	}
	.element5{
		width: auto;
	}
	.link{
		width: 50%;
	}

	.left,.right{
		text-align: center;
	}
	
}























